
.box {
  display: flex;
  flex-flow: column;
  height: 100vh;
}
/* 
.box .row {
  border: 1px dotted grey;
} */

.box .header {
  flex: 0 1 auto;
  position: sticky;
  top: 0;
  z-index: 1;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.box .content {
  background-color: rgb(104, 104, 104);
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: auto;
}

.box .footer {
  flex: 0 1 40px;
}